
  .Equity{
    text-align: center;
    position: relative;
    margin: 10rem 0;
  }
  
  .Get_started_content {
    top: 0;
    position: absolute; /* Added */
    z-index: 1; /* Added */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 274px;
  }
  
  .Get_started_content h1 {
    font-size: 40px;
    color: rgba(43, 11, 68, 1);
    text-align: center; /* Center text horizontally */
  }
  
  .CenteredImage {
    /* Add styles for centered image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Added */
  }
  
  @media screen and (max-width: 1024px) {
    .Equity{
      text-align: center;
      position: relative;
      margin: 10rem 2rem;
    }
    .Get_started {
      margin: 2rem 2rem; /* Adjusted for smaller screens */
    }
  
    .Get_started_content h1 {
      font-size: 20px; /* Adjusted font size for smaller screens */
    }
    .Get_started_content {
      top: 0;
      position: absolute; /* Added */
      z-index: 1; /* Added */
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 60px;
    }
    
    .Get_started_content h1 {
      font-size: 15px;
      color: rgba(43, 11, 68, 1);
      text-align: center; /* Center text horizontally */
    }
  }
  