.Get_started {
    height: 477px;
    margin: 2rem 10rem;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    overflow: hidden; /* Hide overflow from image */
    margin-bottom: 150px;
  }
  
  .Get_started_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; /* Added */
    z-index: 1; /* Added */
  }
  
  .Get_started_content h1 {
    font-size: 50px;
    color: #3D2F47;
    text-align: center; /* Center text horizontally */
  }
  
  .CenteredImage {
    /* Add styles for centered image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Added */
  }
  
  @media screen and (max-width: 1024px) {
    .Get_started {
      margin: 2rem 2rem; /* Adjusted for smaller screens */
    }
  
    .Get_started_content h1 {
      font-size: 20px; /* Adjusted font size for smaller screens */
    }
  }
  