:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#140820;
}

@font-face {
  font-family: 'Panchang-Variable';
  src: url('../Panchang-Variable.woff2') format('woff2'),
       url('../Panchang-Variable.woff') format('woff'),
       url('../Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800; /* Define font weights */
  font-display: swap; /* Specify font display behavior */
  font-style: normal; /* Specify font style */
}
